<%- model_class = Category -%>
<div class="page-header">
  <h3>Szczegóły kategorii</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Nazwa:</strong></dt>
  <dd><%= @category.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("powrót")),
              categories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("edytuj")),
              edit_category_path(@category), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("usuń")),
              category_path(@category),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("Tak", :default => 'Jesteś pewny?')) },
              :class => 'btn btn-danger' %>
</div>
